<!DOCTYPE html>
    <html>
        <head>
            <title>usersView</title>
        </head>
        <body>
            <h1>Registering Users Here</h1>
            <p> Hello {{name}}!! Please Register before {{age}} goes away! ❤ </p>
        </body>
    </html>